<div class="d-flex batch-selector">
  <select [(ngModel)]="amountMode" class="p-2 form-control">
    <option [value]="'all'">All</option>
    <option [value]="'10'">10x</option>
    <option [value]="'custom'">Custom Amount</option>
  </select>
  <div class="p-2"></div>
  <ng-container *ngIf="amountMode === 'custom'">
    <input [(ngModel)]="amountCustom" placeholder="amount" type="text" class="p-2 form-control">
  </ng-container>
</div>
<div *ngFor="let item of inventory" class="card" [class.border-primary]="isItemSelected(item.id)">
  <div class="card-body">
    {{item.name}}<br/>
    Count: {{item.count}}<br />
    Value: {{getValue(item)}}
  </div>
  <div class="card-footer">
    <ng-container *ngIf="customAction !== null">
      <button class="btn btn-primary" (click)="customAction.action(item, getCount(item))">{{customAction.name}}</button>
      &nbsp;
    </ng-container>
    <ng-container *ngIf="item.type === 'equipment'">
      <button class="btn btn-secondary">Equip</button>
      &nbsp;
    </ng-container>
    <button (click)="dropItem(item.id)" class="btn btn-danger">Drop</button>
  </div>
</div>
<div *ngIf="inventory.length === 0">
  Nothing here but cobwebs...
</div>
