
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="/area">{{currentArea}}</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Activities</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li *ngFor="let activity of activities" class="nav-item">

            <a [routerLink]="getLink(activity)" class="nav-link">
              <span *ngIf="activity.group === undefined">{{activity.name}}</span>
              <span *ngIf="activity.group !== undefined">{{activity.group}}</span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>People</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li *ngFor="let activity of activities" class="nav-item">

            <a [routerLink]="getLink(activity)" class="nav-link">
              <span *ngIf="activity.group === undefined">{{activity.name}}</span>
              <span *ngIf="activity.group !== undefined">{{activity.group}}</span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Other</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a routerLink="inventory" class="nav-link">
              Inventory
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="inventory" class="nav-link">
              Equipment
            </a>
          </li>
          <li class="nav-item">
            <span class="text-muted nav-link">Bank</span>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
