<div *ngIf="person !== null" class="row content">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <span (click)="setSection('person')" class="nav-link" [class.active]="currentSection === 'person'">{{person.name}}</span>
      </li>
      <li class="nav-item">
        <span (click)="setSection('trade')" class="nav-link" [class.active]="currentSection === 'trade'" [class.disabled]="(person.sells || []).length === 0">Trade</span>
      </li>
      <li class="nav-item">
        <span class="nav-link disabled">They have {{person.gold || 0}} gold.</span>
      </li>
    </ul>
    <hr>
    <div class="row" *ngIf="currentSection === 'person'">
      <figure>
        <blockquote class="blockquote">
          <p>{{person.quote}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          {{person.name}}
        </figcaption>
      </figure>
    </div>
    <div class="row" *ngIf="currentSection === 'trade'">
      <div class="col-md-4">
        <div class="d-flex batch-selector">
          <select [(ngModel)]="amountMode" class="p-2 form-control">
            <option [value]="'all'">All</option>
            <option [value]="'10'">10x</option>
            <option [value]="'custom'">Custom Amount</option>
          </select>
          <div class="p-2"></div>
          <ng-container *ngIf="amountMode === 'custom'">
            <input [(ngModel)]="amountCustom" placeholder="amount" type="text" class="p-2 form-control">
          </ng-container>
        </div>
        <div *ngFor="let item of soldItems" class="card">
          <div class="card-body">
            {{item.name}}<br/>
            Count: {{item.count}}<br/>
            Cost: {{(item.cost || 0) * getCount(item)}}
          </div>
          <div class="card-footer">
            <button (click)="buyItem(item)" class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-inventory [customAction]="{ name: 'Sell', action: sellItem.bind(this) }"></app-inventory>
      </div>
    </div>
  </div>
</div>
